.nav-heder-container{
    height: 27vh;
    background-image: url("https://demoonlineshop.herokuapp.com/v1634739761/online_shop/white-concrete-wall_omk38t.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff5e;
    background-blend-mode: lighten;
    }

    .logo-container{
        background-image: url("https://demoonlineshop.herokuapp.com/v1634739775/online_shop/carousel_commercials/logo_of0hkj.png");
        height: 26vh;
        width: 35vh;
        background-size: cover;
    }